<div id+'contenttable'></div>

<div class="row">
    <div class="col-sm-12 col-md-8">
       <div id ="contenttable">
<ul>
        <h1><b>{{user.displayname}}</b></h1>
        <li><b>username:</b> <span id="username">{{user.username}}</span></li>
        <li><b>first name:</b> <span id="first">{{user.First_Name}}</span></li>
        <li><b>last name:</b> <span id="last">{{user.Last_Name}}</span></li>      
        <li><b>profession:</b> <span id="profession">{{user.Profession}}</span></li>      
        <li><b>boi:</b> <span id="boi">{{user.Bio}}</span></li>      
    
</ul>
</div>
<button type="button" class="btn btn-default" id="logout">Log Out</button>
    </div>
</div>

<input class = "hidden" id="iddiv" value="{{user.myid}}">